// section start

.container_structure {
  max-width: 1900px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .container_image {
    background-color: white;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;

    .image_home {
      max-width: 885px;
      height: 963px;
      background: transparent;
      object-fit: cover;
      object-position: right;
      margin-top: -100px;
    }
  }

  .homeButton_user {
    max-width: 673px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 55px;

    .text_homeright {
      top: 342px;
      left: 951px;
      width: 674px;
      height: 107px;
      letter-spacing: -0.76px;
      text-align: center;
      font-size: 38px;
      font-weight: 200;
      padding-bottom: 25px;
      color: #3C3C3C;
    }

    .decoration_home {
      max-width: 253px;
      max-height: 33px;
    }

    .btn_home {
      padding-top: 65px;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 45px;
      font-weight: 200;
      text-align: center;

      .btn_control {
        display: flex;
        justify-content: space-around;
        width: 674px;
        height: 120px;

        .btn_oddaj {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 310px;
          height: 120px;
          border: 1px solid #3C3C3C;
          text-decoration: none;
          color: #3C3C3C;
        }

        .btn_zorganizuj {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 310px;
          height: 120px;
          border: 1px solid #3C3C3C;
          text-decoration: none;
          color: #3C3C3C;
        }
      }
    }
  }
}

//section three columns

.container_three_columns {
  background-image: url("../assets/3 Columns Background.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1900px;


  .three_columns {
    display: flex;
    height: 252px;
    margin: 40px 60px;

    .tcolumn{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: 13%;
      margin-right: 13%;

      .number_column {
        font-size: 90px;
        text-align: center;
        line-height:122px;
        font-weight: 300;
      }

      .title_column {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 28px;
      }

      .text_column {
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        width: 334px;
      }
    }
  }
}

//section four steps

.container_foursteps {
  max-width: 1900px;
  display: flex;
  justify-content: center;
  height: 759px;

  .foursteps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 416px;
    line-height: 55px;

    .title_foursteps {
      margin-top: 55px;
      margin-bottom: 25px;
      font-size: 38px;
      font-weight: 200;
      width: 416px;
      height: 52px;
    }

    .decoration_foursteps {
      padding-bottom: 12px;
    }
  }

  .four_column {
    max-width: 1900px;
    display: flex;
    flex-direction: row;
    height: 325px;
    background-color: #F0F1F1;
    gap: 138px;
    padding-right: 415px;
    padding-left: 415px;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 325px;
      justify-content: center;
      width: 164px;

      .column img {
        width: 83px;
        height: 83px;
      }

      .title_column {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .text_column {
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        padding-top: 10px;
        border-top: 1px solid #3C3C3C;
      }
    }
  }

  .btn_foursteps {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 45px;
    font-weight: 200;
    text-align: center;
    width: 310px;
    height: 120px;
    border: 1px solid #3C3C3C;
    margin-top: 35px;margin-bottom: 80px;

    .btn_oddaj {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 310px;
      height: 120px;
      text-decoration: none;
      color: #3C3C3C;
    }
  }
}

//section about us

.container_about {
  max-width: 1900px;
  background-color: #F0F1F1;
  height: 935px;

  .about {
    height: 935px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 55px;

    .columns {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .column-left {

        .title_about {
          display: flex;
          width: 100px;
          height: 52px;
          font-size: 30px;
          line-height: 54px;
          font-weight: 400;
          text-align: center;
          justify-content: center;
          letter-spacing: -0.76px;
          color: #3C3C3C;
          margin: 26px auto;
        }

        .decoration_home {
          max-width: 253px;
          max-height: 33px;
          margin: 55px auto;
        }

        .text_about {
          letter-spacing: -0.6px;
          color: #3C3C3C;
          text-align: center;
          font-size: 30px;
          width: 657px;
          height: 209px;
          margin-bottom: 51px;
          left: 149px;
        }

        .signature_home {
          display: flex;
          width: 209px;
          height: 149px;
          margin-left: auto;

        }
      }

      .column-right {
        margin-left: 9.5%;
        margin-top: 20px;

        .container_image {
          background-color: white;

          .image_about {
            background: transparent;
            object-fit: cover;
            object-position: left;
            width: 942px;
            height: 934px;
          }
        }
      }
    }
  }
}

// section organization

.container_wehelp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1344px;
  height: 1012px;
  margin-left: 278px;
  margin-right: 278px;

  .wehelp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title_help {
      font-size: 38px;
      font-weight: 300;
      line-height: 22px;
      max-width: 320px;
      height: 52px;
      letter-spacing: -0.76px;
      text-align: center;
      margin-bottom: 25px;
      margin-top:70px;
    }

    .decoration_help {
      max-width: 253px;
      max-height: 33px;
      margin-bottom: 55px;
    }

    .btn_organization {
      margin-bottom: 70px;
      border: none;
      display: flex;
      width: 750px;
      justify-content: space-between;
      align-items: center;

      .btn_foundation {
        background: white;
        font-size: 24px;
        text-decoration: none;
        color: #3C3C3C;
        border: none;
        font-weight: 300;
        width: 124px;
        height: 33px;
        cursor: pointer;

        &.active {
          border: 1px solid black;
        }
      }

      .btn_non-governmental {
        color: #3C3C3C;
        background: white;
        font-size: 24px;
        text-decoration: none;
        border: none;
        width: 170px;
        height: 57px;
        cursor: pointer;

        .active {
          border: 1px solid black;
        }
      }

      .btn_local {
        background: white;
        font-size: 24px;
        text-decoration: none;
        color: #3C3C3C;
        border: none;
        width: 108px;
        height: 57px;
        cursor: pointer;

      }
    }

    .information_text {
      width: 640px;
      height: 94px;
      font-size: 22px;
      font-weight: 300;
      text-align: center;
      margin-bottom: -23px;
    }
  }
}

.section_fundation {
  width: 1344px;

  .list_org {

    h2 {
      margin-top: 34px;
      font-size: 26px;
      line-height: 31px;
      font-weight: 300;
    }

    .text_left {
      text-align: left;
      margin-top: -7px;
      padding-bottom: 31px;
      border-bottom: 0.5px solid #737373;
    }

    .text_right {
      text-align: right;
      margin-top: -10px;
    }
  }
}

.pagination {
  margin-top: 76px;
  margin-bottom: 80px;

  .firstbutton {
    color: #737373;
    border: 1px solid #737373;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    width: 40px;
    height: 50px;
    font-size: 18px;
    &.active {
      border-color: red;
    }
  }

  .lastbutton {
    color: #737373;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    width: 40px;
    height: 50px;
    font-size: 18px;
  }
}



