.container_navbar {
  max-width: 1900px;
  display: flex;
  justify-content: flex-end;
  margin-right: 55px;

  .navbar_user {
    display: flex;
    gap: 30px;
    padding-top: 37px;

    a {
      padding: 9px 10px;
      font-size: 14px;
      text-decoration: none;
      color: var(--secondary_color);
      cursor: pointer;
    }

    .btn_register {
      padding: 9px 10px;
      border: 1px solid #FAD648;
    }

    .btn_login {
      padding: 9px 10px;
    }
  }

  .navbar_menu {
    display: flex;
    align-items: center;
    gap: 51px;

    .start{
      padding: 9px 20px;
      border: 0.75px solid #3C3C3C;
      text-decoration: none;
    }

    a {
      margin-top: 16px;
      margin-right: 10px;
      font-size: 18px;
      color:var(--text_color);
      padding: 10px 0;
      cursor: pointer;
    }
  }
}





